body{
  background-color: #f8fafc;

}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #cbd5e1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  border: 3px solid #cbd5e1;
  background: #737fc5; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Border radius of the scrollbar thumb */
  padding: 5px;
}
