@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #f8fafc;
}

::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #cbd5e1;
  /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  border: 3px solid #cbd5e1;
  background: #737fc5;
  /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px;
  /* Border radius of the scrollbar thumb */
  padding: 5px;
}
.scroll-smooth{
  scroll-behavior: smooth;
}
.scroll-smooth.dark body{
  background-color: #111827;
  color: #f9fafb !important;
}